name: Append Netflix Shows

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'  # runs at the top of every hour

jobs:
  append_netflix_shows:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v3

      # Step 2: Set up Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      # Step 3: Install dependencies if any
      - name: Install dependencies
        run: python -m pip install --upgrade pip

      # Step 4: Run your Python script inside Netflix folder
      - name: Run load_content.py
        working-director
